.custom-bullet {
  width: 30px;
  height: 30px;
  background: transparent;
  border: 2px solid #2196f3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  opacity: .8;
}

.swiper-pagination-bullet-active.custom-bullet {
  background: #2196f3;
  color: #fff;
  opacity: 1;
}